/* *** Fonts *** */
@font-face {
  font-family: peace-sans;
  src: url('../fonts/peace_sans.otf');
}
@font-face {
  font-family: neocyr;
  src: url(../fonts/neocyr.ttf);
}
/* *** variables *** */
/* *** default styles *** */
h2 {
  font-size: 30px;
  font-family: peace-sans;
  text-shadow: 2px 0 5px #333;
  color: #000;
}
@media screen and (min-width: 400px) {
  h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 65px;
  }
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}
ul.navigation-list li {
  list-style: none;
}
body,
html {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  color: #000;
  font-family: neocyr;
}
#main-container {
  height: 500%;
  position: relative;
}
main {
  height: 78%;
}
header {
  height: 20%;
}
#about-section,
#portfolio-section,
#how-to-buy-section {
  height: 25.64102564%;
}
#contacts-section {
  height: 23.07692308%;
}
footer {
  height: 2%;
}
body {
  background-image: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475864895/Background_cuge66.gif');
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .section {
    width: 97%;
  }
}
@media screen and (min-width: 1120px) {
  .section {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 97%;
  }
}
@media screen and (min-width: 1300px) {
  .section {
    width: 100%;
  }
}
.section-header {
  height: 10%;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .section-header {
    padding-top: 30px;
  }
}
.section-content {
  height: 90%;
  padding-top: 20px;
}
.mobile-section-wrapper {
  height: 90%;
}
.mobile-section-wrapper .content-menu {
  height: 10%;
  display: flex;
}
.mobile-section-wrapper .content-menu ul {
  margin: auto;
  display: flex;
  justify-content: center;
}
.mobile-section-wrapper .content-menu ul li {
  padding: 0 5px;
  margin: 0 5px;
}
.mobile-section-wrapper .content-menu ul li.active {
  border-bottom: 3px solid #000;
}
.mobile-section-wrapper .mobile-section-content {
  height: 80%;
}
.mobile-section-wrapper .mobile-section-content ul {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.mobile-section-wrapper .mobile-section-content ul li {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-image: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1476362273/Disegno_21_ert2is.png');
  background-size: 100% 100%;
  transform: translateX(100%);
  transition: transform 500ms ease-in;
}
.mobile-section-wrapper .mobile-section-content ul li.active {
  transform: none;
}
.mobile-section-wrapper .mobile-section-content ul li.moved-right {
  transform: translateX(200%);
}
.mobile-section-wrapper .mobile-section-content ul li.moved-left {
  transform: translateX(-200%);
}
.mobile-section-wrapper .mobile-section-content ul li.last-page-right {
  transform: translateX(-20%);
  transition: transform 200ms ease-in;
}
.mobile-section-wrapper .mobile-section-content ul li.last-page-left {
  transform: translateX(20%);
  transition: transform 200ms ease-in;
}
.arrow-down {
  display: flex;
  width: 100%;
  height: 10%;
}
.arrow-down i {
  margin: auto;
}
.mobile-menu-visible#mobile-menu-container {
  pointer-events: auto;
}
.mobile-menu-visible#mobile-menu-container:after {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-visible #mobile-menu {
  transform: none;
}
.mobile-menu-visible.mobile-menu-animatable #mobile-menu {
  transition: all 330ms ease-out;
}
.mobile-menu-animatable {
  transition: all 130ms ease-in;
}
.mobile-menu-animatable #mobile-menu {
  transition: all 130ms ease-in;
}
#mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 150;
}
#mobile-menu-container:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}
#mobile-menu {
  background: #fff url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1476210987/Disegno_20_sdjd8p.png') left top / 100% 100%;
  position: relative;
  max-width: 400px;
  height: 100%;
  width: 75%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-103%);
  z-index: 160;
  display: flex;
  flex-direction: column;
}
#mobile-menu h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0;
}
#mobile-menu .menu-item {
  font-size: 25px;
  width: 100%;
  height: 50px;
}
#burger-menu {
  position: fixed;
  top: 22px;
  left: 10px;
  z-index: 140;
  font-size: 1.5em;
}
@media screen and (min-width: 400px) {
  #burger-menu {
    top: 20px;
    left: 15px;
    font-size: 2em;
  }
}
header {
  text-align: center;
}
header #mobile-top-section {
  position: relative;
  height: 100%;
}
header #mobile-top-section #top-section-content {
  height: 90%;
}
header #mobile-top-section #top-section-content img {
  width: 100%;
  margin-top: 47px;
}
header #top-section {
  position: relative;
  margin-top: 2%;
  /*#head-image {
      height: 60%;
      max-width: 100%;
      max-height: 320px;
    }
    #strip-image {
      position: absolute;
      bottom: 0;
      height: 40%;
      margin-top: -5%;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }*/
}
header #top-section img {
  width: 100%;
  max-width: 1170px;
  max-height: 355px;
}
@media screen and (min-width: 768px) {
  header #top-section a {
    font-size: 100%;
    position: absolute;
    bottom: 8%;
    width: 23%;
    height: 10%;
    padding-top: 10px;
    font-family: 'peace-sans';
    color: #000;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
  }
  header #top-section a:nth-child(1) {
    left: 1.5%;
  }
  header #top-section a:nth-child(2) {
    left: 24.7%;
  }
  header #top-section a:nth-child(3) {
    left: 47.9%;
  }
  header #top-section a:nth-child(4) {
    left: 71.2%;
  }
}
@media screen and (min-width: 992px) {
  header #top-section a {
    font-size: 125%;
    bottom: 7%;
  }
}
@media screen and (min-width: 1200px) {
  header #top-section a {
    font-size: 150%;
    bottom: 6%;
  }
}
header #photos {
  position: relative;
  height: 1px;
  min-height: 50%;
}
header #photos div {
  height: 100%;
}
header #photos div img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 10%;
  max-height: 80%;
  max-width: 80%;
  border: 5px solid #000;
}
header #photos div:nth-child(1) img {
  transform: rotate(-5deg);
}
header #photos div:nth-child(2) img {
  transform: rotate(-2deg);
}
header #photos div:nth-child(3) img {
  transform: rotate(3deg);
}
#scroll-btns {
  position: fixed;
  top: 40%;
  right: 20px;
  width: 40px;
  transition: opacity .5s linear;
}
#scroll-btns a {
  display: block;
}
#scroll-btns a img {
  width: 20px;
  height: 20px;
  transition: all .5s linear;
}
#scroll-btns a img.active {
  width: 40px;
  height: 40px;
}
#scroll-btns.ng-hide {
  opacity: 0;
}
#about-section #about-paper {
  height: 100%;
  width: 100%;
  background-image: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475864914/Disegno_6_qijfdn.png');
  background-size: 100% 100%;
  padding: 5% 10% 5% 5%;
  font-family: neocyr;
  font-size: 23px;
}
#about-section #about-paper p {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
#about-section #about-paper p img {
  max-height: 30%;
  max-width: 30%;
  margin: 5% 5%;
  float: left;
}
#portfolio-section {
  /*#gallery {
    position: relative;
    overflow: visible;
    height: 80%;
    .photo {
      margin-top: 10px;
      height: 40%;
      img {
        max-width: 100%;
        max-height: 100%;
        border: 2px solid #000;
      }
    }
    .photo:nth-child(1) {
      transform: rotate(-2deg);
    }
    .photo:nth-child(2) {
      transform: rotate(-5deg);
    }
    .photo:nth-child(3) {
      transform: rotate(9deg);
    }
    .photo:nth-child(4) {
      padding-top: 30px;
      transform: rotate(-4deg);
    }
    .photo:nth-child(5) {
      padding-top: 30px;
      transform: rotate(8deg);
      z-index: 3;
    }
    .photo:nth-child(6) {
      padding-top: 30px;
      transform: rotate(3deg);
    }
  }*/
}
#portfolio-section #book {
  position: relative;
  width: 100%;
  height: 95%;
  background: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475865942/book_z3m76v.png') left top / 100% 100% no-repeat;
  perspective: 3000px;
  font-family: neocyr;
}
#portfolio-section #book .page {
  position: absolute;
  width: 48.2%;
  height: 100%;
  padding-top: 50px;
  opacity: 1;
  transition: transform 1s linear;
  padding: 60px 40px 40px 70px;
}
#portfolio-section #book .page .page-content {
  width: 100%;
  height: 100%;
}
#portfolio-section #book .page .page-content img {
  border: 2px solid #000;
  max-width: 80%;
  max-height: 60%;
  margin-top: 15px;
}
#portfolio-section #book .page .page-content .page-text {
  max-height: 40%;
  overflow: hidden;
}
#portfolio-section #book .page .page-content .page-text h4 {
  font-size: 23px;
  margin: 15px 0;
}
#portfolio-section #book .first-page {
  z-index: 10;
}
#portfolio-section #book .second-page {
  background-color: yellow;
  z-index: 9;
}
#portfolio-section #book .third-page {
  background-color: blueviolet;
  z-index: 8;
}
#portfolio-section #book .left-page {
  top: 0;
  background: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475865945/book-700_xeicm3.png') left top / 100% 100% no-repeat;
  left: 0;
  transform: rotateY(0deg);
  transform-origin: 100% 0;
}
#portfolio-section #book .right-page {
  top: 0;
  background: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475865948/book-right-700_acg9lu.png') left top / 100% 100% no-repeat;
  left: 48.1%;
  transform: rotateY(0deg);
  transform-origin: 0 0;
}
#portfolio-section #book .opened-page {
  z-index: 100;
}
#portfolio-section #book .turned-left-page {
  transform: rotateY(90deg);
}
#portfolio-section #book .turned-right-page {
  transform: rotateY(-89deg);
}
#portfolio-section #book .closed-page {
  opacity: 0;
}
#portfolio-section #book .arrow {
  position: absolute;
  bottom: 5%;
}
#portfolio-section #book .arrow:hover {
  cursor: pointer;
}
#portfolio-section #book .arrow-left {
  left: 5%;
}
#portfolio-section #book .arrow-right {
  right: 5%;
}
#how-to-buy-section #paper-with-pen {
  height: 100%;
}
#how-to-buy-section #paper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('https://res.cloudinary.com/dlsudxrfv/image/upload/v1475864914/Disegno_6_qijfdn.png');
  background-size: 100% 100%;
  padding: 5% 10% 0 5%;
  font-family: neocyr;
  font-size: 23px;
}
#how-to-buy-section #paper h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
#how-to-buy-section #paper #price h3 {
  margin-top: 20px;
}
#how-to-buy-section #paper #price table {
  margin-top: 25px;
}
#how-to-buy-section #paper #price table,
#how-to-buy-section #paper #price table td,
#how-to-buy-section #paper #price table th {
  padding: 10px;
}
#how-to-buy-section #paper #price table th {
  text-align: center;
  padding-bottom: 15px;
}
#how-to-buy-section #pen {
  position: absolute;
  top: 0;
  right: 200px;
  max-height: 90%;
  transform: rotate(20deg);
  transform: rotateX(60deg);
  transition: all 1s ease-in-out;
}
#how-to-buy-section #pen.animated {
  top: 20px;
  right: 10px;
  transform: rotate(0deg);
  transform: rotateX(0deg);
}
#contacts-section {
  overflow: hidden;
}
#contacts-section .contacts {
  height: 30%;
}
#contacts-section .contacts .phones {
  height: 100%;
  display: flex;
}
#contacts-section .contacts .phones #phone-list {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transform: translateY(-500%);
  transition: transform 1s ease-in-out;
  opacity: 0;
}
#contacts-section .contacts .phones #phone-list.visited {
  transform: translateY(0);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #contacts-section .contacts .phones {
    height: 33%;
  }
}
#contacts-section .contacts .social {
  height: 100%;
}
#contacts-section .contacts .social a {
  height: 100%;
  display: flex;
}
#contacts-section .contacts .social a img {
  margin: auto;
}
@media screen and (min-width: 768px) {
  #contacts-section .contacts .social {
    height: 33%;
  }
}
#contacts-section .contacts #instagram {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  transform: translateX(-700%);
  transition: transform 1s ease-in-out;
}
#contacts-section .contacts #instagram.visited {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  #contacts-section .contacts #instagram {
    max-height: 150px;
  }
}
#contacts-section .contacts #facebook {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(500%);
  transition: transform 1s ease-in-out 0.2s;
  max-height: 70px;
}
#contacts-section .contacts #facebook.visited {
  transform: translateX(0);
  transform: rotate(-20deg);
}
@media screen and (min-width: 400px) {
  #contacts-section .contacts #facebook {
    max-height: 100px;
  }
}
@media screen and (min-width: 500px) {
  #contacts-section .contacts #facebook {
    max-height: 120px;
  }
}
@media screen and (min-width: 600px) {
  #contacts-section .contacts #facebook {
    max-height: 150px;
  }
}
@media screen and (min-width: 700px) {
  #contacts-section .contacts #facebook {
    max-height: 100%;
  }
}
@media screen and (min-width: 768px) {
  #contacts-section .contacts #facebook {
    max-height: 100%;
    transform: translateX(-500%);
  }
}
@media screen and (min-width: 768px) {
  #contacts-section .contacts {
    height: 100%;
  }
}
#contacts-section #letter {
  height: 70%;
  display: flex;
}
#contacts-section #letter img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  #contacts-section #letter {
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  #contacts-section {
    overflow: visible;
  }
}
footer img {
  width: 100%;
  max-height: 100%;
}
